<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="PageObjectModelSuite">

	<listeners>
		<listener class-name="com.inetbanking.utilities.Reporting" />
	</listeners>


	<!-- <test name="PageObjectModel Test">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.inetbanking.testCases.DemoQaMenusTest" />
			<class name="com.inetbanking.testCases.TextBoxElementsTest" />
			<class name="com.inetbanking.testCases.CheckBoxElementsTest" />
			<class name="com.inetbanking.testCases.CheckBoxesFormTest" />
			<class name="com.inetbanking.testCases.RadioBoxElementsTest" />
			<class name="com.inetbanking.testCases.ButtonsTest" />
			<class name="com.inetbanking.testCases.LinksTest" />
			<class name="com.inetbanking.testCases.BrokenLinksAndImagesTest" />
			<class name="com.inetbanking.testCases.UploadDownloadTest" /> 
			<class name="com.inetbanking.testCases.TC_LoginTest_001" />
			<class name="com.inetbanking.testCases.TC_LoginDDT_002" />
		 </classes>
	</test> -->
	
	<!-- <test name="FirefoxTest">
		<parameter name="browser" value="firefox" />
		<classes>
			<class name="com.inetbanking.practise.AmazonCart" />
		</classes>
	</test> -->
	<test name="ChromeTest1">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.inetbanking.practise.AmazonCart" />
		</classes>
	</test>
	<test name="ChromeTest2">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.inetbanking.practise.AmazonCart" />
		</classes>
	</test>
	<test name="ChromeTest3">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.inetbanking.practise.AmazonCart" />
		</classes>
	</test>

</suite>